.navbar {
  display: flex;
  align-items: center;

  padding: 20px;
  background: var(--main-color);
}
.navbarLogin {
  justify-content: flex-start;
}

.logo {
  
}

.menu {
  display: flex;
  gap: 20px;

  list-style: none;
}

.menu a {
  color: white;
  text-decoration: none;
}