.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background: var(--main-color);
}

/* NAV - LOGIN */
.navbarLogin {
  justify-content: flex-start;
}

/* NAV - ADMIN */
.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}
.menu a,
.menu button {
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
}
.menu svg {
  margin-bottom: 8px;
  width: 24px;
  height: 28px;
}
.menu a:hover,
.menu button:hover {
  color: var(--accent-color);
}

/* NAV - USERS */
.navbarBtn a {
  padding: 10px 25px;
  color: #fff;
  border: 2px solid #fff;
  font-size: 14px;
  transition: 300ms;
}

.navbarBtn a:hover {
  background: var(--dark-accent-color);
}

@media (max-width: 768px) {
  .logo img {
    height: 30px;
    width: auto;
  }

  .navbarContainer {
    padding-inline: 0;
  }

  /* NAV - USERS */
  .navbarBtn a {
    padding: 8px 15px;
    font-size: 12px;
  }

  /* NAV - ADMIN */
  .menu{
    gap: 30px;
  }
  .menu a span,
  .menu button span {
    display: none;

  }
}