@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #251C6B;
  --dark-color: #000030;
  --accent-color: #01FFFF;
  --dark-accent-color: #33B5E7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-exo2: var(--font-exo2);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-exo2);
}
.bg-default.bg-default {
  background: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url('/img/bg-concreteras-form.webp');
  background-repeat: repeat;
  background-size: 500px;
}

form input {
  background: #ffffff;
  border: 1px solid #cccccc;
}

form label span {
  color: var(--dark-accent-color);
}

form label {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--main-color);
}
form label span:nth-child(2){
  color: var(--main-color);
  font-size: 12px;
  text-transform: none;
  font-weight: 400;
}
form input{
  padding: 10px;
  height: 55px;
}
form button {
  background: var(--main-color);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}

form button:hover {
  background: var(--dark-color);
}