.footer{
    background: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
.footer p {
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
}